.jumbotron{
	background-color: rgb(4, 37, 247);
	color:white;
	margin-top: 50px;
}

.btn{
	background-color: rgb(4, 37, 247);
	color: rgb(255, 255, 255);
}
h1{
	text-align: center;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: rgb(4, 37, 247);
	color: rgb(255, 255, 255);
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 12px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 3px; 
}

.tab-content{
	padding-top: 10px;
}
